@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black-primary: #2d2a32;
    --white-primary: #fafdf6;
    --white-secondary: #ffffff20;
    --purple-primary: #4949e4;
    --purple-secondary: #9ba2ff;
    --blue-primary: #61dbfb;
    --blue-secondary: #61dcfb30;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
  }
}

@font-face {
  font-family: "PROJECT SPACE";
  src: url("/font/project-space/PROJECTSPACE.woff2") format("woff2"),
    url("/font/project-space/PROJECTSPACE.ttf") format("truetype"),
    url("/font/project-space/PROJECTSPACE.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-space {
  font-family: "PROJECT SPACE", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth !important;
}

body {
  @apply bg-black-primary w-full h-full;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.triangle {
  width: 2.5rem;
  aspect-ratio: 1/1;
  clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
}

.rotate-square {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.bg-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  flex-wrap: wrap;
  overflow: hidden;
}

.bg-hover span {
  position: relative;
  display: block;
  width: 2.5rem;
  aspect-ratio: 1/1;
  background: transparent;
  z-index: 2;
  transition: 1.5s;
}

.bg-hover span:hover {
  background: #ffffff11;
  transition: 0s;
}

.cut-box {
  background: linear-gradient(
        135deg,
        transparent 35px,
        var(--white-secondary) 0
      )
      top right,
    linear-gradient(-45deg, transparent 35px, var(--white-secondary) 0) bottom
      left;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.cut-box-in {
  background: linear-gradient(135deg, transparent 35px, var(--black-primary) 0)
      top right,
    linear-gradient(-45deg, transparent 35px, var(--black-primary) 0) bottom
      left;

  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.corner-cut-1 {
  --edge-size: 3rem;
  clip-path: polygon(
    /* top left 1 */ 0 var(--edge-size),
    /* top left 2 */ var(--edge-size) 0,

    /* top right */ 100% 0,

    /* bottom right 1 */ 100% calc(100% - var(--edge-size)),
    /* bottom right 2 */ calc(100% - var(--edge-size)) 100%,

    /* bottom left */ 0 100%
  );
}

.corner-cut-2 {
  --edge-size: 1.5rem;
  clip-path: polygon(
    100% 0,
    100% 100%,
    var(--edge-size) 100%,
    0% calc(100% - var(--edge-size)),
    0 0
  );
}

.corner-cut-3 {
    --edge-size: 2.5rem;
    clip-path: polygon(100% 0, 100% calc(100% - var(--edge-size)), calc(100% - var(--edge-size)) 100%, 0 100%, 0 0);
}

.custom-color path {
  stroke: var(--blue-primary) !important;
}
