@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply bg-black-primary w-full h-full;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.triangle {
  width: 2.5rem;
  aspect-ratio: 1/1;
  clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
}

.rotate-square {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.bg-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    flex-wrap: wrap;
    overflow: hidden;
}

.bg-hover span {
    position: relative;
    display: block;
    width: 2.5rem;
    aspect-ratio: 1/1;
    background: transparent;
    z-index: 2;
    transition: 1.5s;
}

.bg-hover span:hover {
    background: #ffffff11;
    transition: 0s;
}